<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <fieldset ngModelGroup="user">
    <input type="text"
           required
           minlength="3"
           maxlength="10"
           email
           name="username"
           [(ngModel)]="username"
           #userName="ngModel">
    <br>
    <!--<p>Name控件的valid状态：{{userName.valid}} &#45;&#45; 表示控件有效</p>
    <p>Name控件的invalid状态：{{userName.invalid}} &#45;&#45; 表示控件无效</p>
    <p>Name控件的pristine状态：{{userName.pristine}} &#45;&#45; 表示控件值未改变</p>
    <p>Name控件的dirty状态：{{userName.dirty}} &#45;&#45; 表示控件值已改变</p>
    <p>Name控件的touched状态：{{userName.touched}} &#45;&#45; 表示控件值已被访问过</p>
    <p>Name控件的untouched状态：{{userName.untouched}} &#45;&#45; 表示控件值未被访问过</p>-->
    <div *ngIf="userName.errors?.required">请输入用户姓名</div>
    <div *ngIf="userName.errors?.minlength">
      用户名的长度必须不小于{{userName.errors?.minlength.requiredLength}}，当前的长度为{{userName.errors?.minlength.actualLength}}
    </div>
    <div *ngIf="userName.errors?.maxlength">
      用户名的长度必须不大于{{userName.errors?.maxlength.requiredLength}}，当前的长度为{{userName.errors?.maxlength.actualLength}}
    </div>
    <div *ngIf="userName.errors?.email">
      输入正确的邮箱
    </div>
    <input type="password"
           ngModel="123"
           name="password"
           #passWord="ngModel"
           required>
    <br>
    <div *ngFor="let version of versions;">
      <input
        [attr.id]="version"
        name="version"
        ngModel="1.X"
        required
        [value]="version"
        type="radio">
      <label [attr.for]="version">{{version}}</label>
    </div>
    <select name="book" [ngModel]="book" required #bookName="ngModel">
      <option *ngFor="let book of books;" [value]="book">{{book}}</option>
    </select>
    <label></label>
    {{bookName.errors | json}}
  </fieldset>
  {{userName.errors | json}}
  {{passWord.errors | json}}
  <button type="submit">提交</button>
  <br>
  {{loginForm.value | json}}
</form>
