<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>我是父组件</div>
<input type="text" placeholder="请输入股票代码" [(ngModel)]="stock">
<app-order [stockCode]="stock" [amount]="100"></app-order>-->
<!--<app-price-quote (buy)="buyHandler($event)"></app-price-quote>
<app-order [priceQuote]="newPriceQuote"></app-order>-->
<!--<app-life [titleName]="title"></app-life>-->
<!--<div>
  这里是报价组件外部，<br>股票代码是{{newPriceQuote.stockCode}},股票价格是{{newPriceQuote.lastPrice | number: '.2-2'}}
</div>-->
<!--<div class="parent">
  <h2>我是父组件</h2>
  <div>
    问候语：<input type="text" [(ngModel)]="greeting">
  </div>
  <div>
    姓名：<input type="text" [(ngModel)]="user.name">
  </div>
  <app-child [greeting]="greeting" [user]="user"></app-child>
</div>-->
<!--
<app-children #children1></app-children> &lt;!&ndash;children1 为模板变量&ndash;&gt;
<app-children #children2></app-children>
<button (click)="children2.greeting('Dalin')">调用</button>
{{message}}-->

<!--<div class="wrapper">-->
  <!--<h2>我是父组件</h2>-->
  <!--<div>这个div定义在父组件中</div>-->
  <!--<app-content>-->
    <!--<div class="header">这是页头，这个div是父组件投影到子组件的, {{title}}</div>-->
    <!--<div class="footer">这是页脚，这个div是父组件投影到子组件的,{{title}}</div>-->
  <!--</app-content>-->
<!--</div>-->
<!--<div [innerHtml]="divContent"></div>-->

<!--<app-after-content></app-after-content>-->
<!--{{message}}-->

<a [routerLink]="['/child1']">child1</a>
<a [routerLink]="['/child2']">child2</a>
<router-outlet></router-outlet>

















