<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <div style="text-align:center">
    <h1 class="app_title">
      Welcome to {{title}}!
    </h1>
    <!--<img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
  </div>
  <nav>
    <a [routerLink]="['/user', '曾桂林']" routerLinkActive="active">我的</a>
    <a routerLink="/members" routerLinkActive="active">Angular成员</a>
  </nav>
  <router-outlet></router-outlet>
  <!--<app-simple *ngFor="let message of mailService.messages; index as index" [message]="message.text" (update)="onUpdate(message.id, $event.text)"></app-simple>-->
  <div>{{ mailService.message }}</div>
  <p>API_URL: {{ apiUrl }}</p>
  <ul>
    <li *ngFor="let message of mailService.messages; index as index; first as first; last as last; even as even; odd as odd">
      {{index}} - {{message.text}} - {{first}} - {{last}} -{{even}} -{{odd}}
    </li>
  </ul>
  <h2 [appGreet]="'Hello, Smile!'" author="Dalin" age="18">Hello,Dalin</h2>
  <ng-template #stpl let-message="message">
    <p>{{message}}</p>
  </ng-template>
  <ng-template #atpl let-msg="message">
    <p>{{msg}}</p>
  </ng-template>
  <ng-template #otpl let-msg>
    <p>{{msg}}</p>
  </ng-template>
  <div [ngTemplateOutlet]="atpl" [ngOutletContext]="context">
  </div>
  <div [ngTemplateOutlet]="stpl" [ngOutletContext]="context">
  </div>
  <div [ngTemplateOutlet]="otpl" [ngOutletContext]="context">
  </div>
  <div *appExeUnless="condition">HA,HA,HA</div>
  <!--表单-->
  <app-forms></app-forms>
</div>
